@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* CHANGE */

* {
  font-family: 'Rubik', sans-serif;
  color: #222831;
}

.chat-wrapper {
  width: 28rem;
}

.chat-box {
  height: 40rem;
}

.auth-box {
  height: 42.875rem;
}

@media screen and (max-width: 768px) {
  .chat-box {
    height: 76vh;
  }

  .auth-box {
    height: 82vh;
  }
}

/* CUSTOM */

.text-primary {
  color: #4a4d8b !important;
}

.text-dark {
  color: #474864 !important;
}

.bg-primary {
  background-color: #6669c4 !important;
}

.bg-secondary {
  background-color: #f3f8ff !important;
}

.bg-light {
  background-color: #ffffff !important;
}

.btn-primary {
  padding: 0.625rem 1.5rem !important;
  background: #6669c4 !important;
}

.shadow-lg {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12) !important;
}

.shadow-sm {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px !important;
}

.form-control {
  padding: 0.625rem 1.5rem;
}

/* ADD */

.rounded-xl {
  border-radius: 2rem;
}

.rounded-top-lg {
  border-radius: 1.5rem 1.5rem 0 0;
}

.rounded-bottom-lg {
  border-radius: 0 0 1.5rem 1.5rem;
}

.rounded-md {
  border-radius: 1rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-medium {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #f3f8ff;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #6669c4;
}
