@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* CHANGE */

* {
  font-family: 'Rubik', sans-serif;
  color: #222831;
}

.chat-wrapper {
  width: 28rem;
}

.chat-box {
  height: 40rem;
}

@media screen and (max-width: 768px) {
  .chat-box {
    height: 76vh;
  }
}

/* CUSTOM */

.bg-primary {
  background-color: #1089ff !important;
}

.bg-secondary {
  background-color: #f1f1f1 !important;
}

/* ADD */

.rounded-xl {
  border-radius: 2rem;
}

.rounded-top-lg {
  border-radius: 1.6rem 1.6rem 0 0;
}

.rounded-bottom-lg {
  border-radius: 0 0 1.6rem 1.6rem;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-medium {
  font-weight: 500;
}

/* ::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #a2a4a7;
  outline: 1px solid #f1f1f1;
  border-radius: 2rem;
} */
